.signup_page{
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: safe center;
	align-items: safe center;
}

.signup_page h1{
  font-family: 'Comfortaa', sans-serif;
}

.container{
	display: flex;
	justify-content: center;
	gap: 2.25rem;
	flex-direction: column;
	width: 100%;
}

.container input{
	outline: none;
	border: none;
	border-bottom: 1px solid #616161;
	width: 100%;
	padding: 5px 1px;
}

.Signup_wrapper{
	background-color: #616161;
	width: 100%;
}

/* ++++++++++++++++ SIGN-IN +++++++++++++++++++++++ */

.signin_page{
  width: 100%;
  height: auto;
  min-height: 90dvh;
  display: flex;
  justify-content: safe center;
  align-items: safe center;
}

.sigin_wrapper{
  width: 100%;
  display: flex;
}

.sign_in_form{
	width: 50%;
	padding: 2.25rem;
}

.sign_bg{
  background-image: url("../../images/signin_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
   background-position: center;
  background-size: cover;
  min-height: 90dvh;
  width: 50%;
  display: flex;
  justify-content: safe center;
  align-items: safe center;
  padding: 4.25rem 5.25rem;
}

.inner_sign_bg{
	border-radius: 18px;
	background-color: #ffff;
	padding: 4.25rem 2.25rem;
	font-size: 15px;
	font-family: Comfortaa, sansSerif;
	line-height: 1.25rem;
	color: #afafaf;
	font-weight: 600;
	box-shadow: 3px 3px 17px #afafaf;
}

.inner_sign_img{
	width: 120px;
	height: 115px;
	border-radius: 50%;
	position: absolute;
	top: -123px;
	right: 37%;
	border: 8px solid #fff;

}

@media screen and (max-width: 1080px){
	.sign_bg{
		display: none;
	}

	.sign_in_form{
		width: 100%;
	}	

}

